psycopg2
requests
kafka-python
networkx
markov_clustering
python-louvain
hdbscan
xxhash
tqdm
opencv-python
imagehash
matplotlib
scipy
faiss-gpu
orjson
inspect
h5py
torch
torchvision
scikit-learn
imgcat


